CONFIG_TIMESTAMPS_ON_CONSOLE=y
CONFIG_BOOTSPLASH_IMAGE=y
CONFIG_SBOM=y
CONFIG_SBOM_COMPILER=y
CONFIG_SBOM_PAYLOAD=y
CONFIG_SBOM_MICROCODE=y
CONFIG_VENDOR_LENOVO=y
CONFIG_NO_POST=y
CONFIG_LINEAR_FRAMEBUFFER_MAX_HEIGHT=768
CONFIG_LINEAR_FRAMEBUFFER_MAX_WIDTH=1024
CONFIG_INTEL_GMA_VBT_FILE="src/mainboard/$(MAINBOARDDIR)/variants/x230/data.vbt"
CONFIG_BOARD_LENOVO_X230T=y
CONFIG_HIDE_MEI_ON_ERROR=y
CONFIG_H8_SUPPORT_BT_ON_WIFI=y
CONFIG_GENERIC_LINEAR_FRAMEBUFFER=y
CONFIG_BOOTSPLASH=y
CONFIG_PCIEXP_HOTPLUG_IO=0x2000
CONFIG_USBDEBUG=y
CONFIG_DRIVERS_PS2_KEYBOARD=y
CONFIG_SECURITY_CLEAR_DRAM_ON_REGULAR_BOOT=y
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_6=y
CONFIG_SEABIOS_THREAD_OPTIONROMS=y
CONFIG_COREINFO_SECONDARY_PAYLOAD=y
CONFIG_MEMTEST_SECONDARY_PAYLOAD=y
CONFIG_NVRAMCUI_SECONDARY_PAYLOAD=y
CONFIG_TINT_SECONDARY_PAYLOAD=y
CONFIG_MEMTEST86PLUS_V5=y
